<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>메인페이지</title>
    <link rel="stylesheet" href="../static/mainstyle.css">


</head>

<body>

    <h1 style="text-align: center; color: white; margin-top: 3rem; font-size: 130px;">캠핑의 모든것</h1>
    <div class="navi">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" style="color: white; font-size: 30px;">메인페이지 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/movie" style="color: white; font-size: 30px;">캠핑영화 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="login.html" style="color: white; font-size: 30px;">캠핑용품 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="login.html" style="color: white; font-size: 30px;">커뮤니티 <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> <!-- 네비게이션바-->
    <div class="information" style="color: white;">
        <h3 style="text-align: left; margin-left: 22rem; width: 250px;">캠핑지 예약 바로가기</h3>
        <ul>
        <div class="camping"><a style="color: white" href="https://yeyak.seoul.go.kr/web/reservation/selectReservView.do?rsv_svc_id=S210128201712318712">난지 캠핑장 :<span>  서울특별시 마포구 한강난지로 28</span></a></div>
        <div class="camping"><a style="color: white" href="https://yeyak.seoul.go.kr/web/reservation/selectReservView.do?rsv_svc_id=S210227140948877718">제천 캠핑장 :<span>  충청북도 제천시 송학면 송학주천로19길 5</span></a></div>
        <div class="camping"><a style="color: white" href="https://yeyak.seoul.go.kr/web/reservation/selectReservView.do?rsv_svc_id=S210331180357485245">상주 캠핑장 :<span>  경상북도 상주시 낙동면 선상서로 1587</span></a></div>
        <div class="camping"><a style="color: white" href="https://yeyak.seoul.go.kr/web/reservation/selectReservView.do?rsv_svc_id=S210227132521958866">횡성 캠핑장 :<span>  강원도 횡성군 강림면 주천강로 488</span></a></div>
        <div class="camping"><a style="color: white" href="https://yeyak.seoul.go.kr/web/reservation/selectReservView.do?rsv_svc_id=S210227141427061613">함평 캠핑장 :<span>  전라남도 함평군 함평읍 함장로 730</span></a></div>
        </ul>
    </div> <!-- 캠핑예약사이트 이동-->
</body>

</html>